{% extends "base.html" %}

{% block title %}Applies ~ UniFlow{% endblock %}

{% block content %}

<div class="applies-page container-fluid px-4" style="margin-top: 90px;">

    <!-- Page title and Add button-->
    <div class="d-flex align-items-center justify-content-between mt-3 mb-3">
        <h1 class="fw-bold display-6 text-uppercase">Applies</h1>

        <button id="addRowBtn" class="btn btn-pill btn-primary-uf">
            Add +
        </button>
    </div>

    <!-- Scroll wrapper -->
    <div class="table-wrap">
        <table class="applies-table">
            <thead>
                <tr>
                    <th style="max-width:170px">Status</th>
                    <th style="max-width:250px">Company Name</th>
                    <th style="max-width:300px">Programme Name</th>
                    <th style="max-width:160px">Opening date</th>
                    <th style="max-width:160px">Closing date</th>
                    <th style="max-width:120px">CV</th>
                    <th style="max-width:150px">Cover Letter</th>
                    <th style="max-width:170px">Written Answers</th>
                    <th style="max-width:320px">Notes</th>
                    <th style="max-width:150px">Actions</th>
                </tr>
            </thead>

            <tbody id="appliesBody">
                <!-- the will be created with js -->
            </tbody>
        </table>
    </div>
    
</div>

<script src="{{ url_for('static', filename='js/applies.js') }}"></script>

{% endblock %}