<!DOCTYPE html>

<html lang="en" data-bs-theme="light">

    <head>
        <meta charset="utf-8" />

        <meta name="viewpoint" content="width=device-width, initial-scale=1" />

        <title>UniFlow</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>

        <div class="page">
            <header class="site-header" aria-label="Site header">

            </header>

            <main class="hero" aria-labelledby="app-title">

                <h1 class="app-title" class="logo">
                    UniFlow
                </h1>

                <p class="tagline">
                    WHERE CHAOS MEETS THE FLOW
                </p>

                <nav class="actions" aria-label="Primary actions">
                    <a href="#" class="btn btn-primary">Sign Up</a>
                    <a href="#" class="btn btn-secondary">Log In</a>
                </nav>
            </main>

            <footer class="site-footer" aria-label="Site footer">

            </footer>
        </div>

    </body>
</html>