{% extends "base.html" %}

{% block title %}Schedule ~ UniFlow{% endblock %}

{% block content %}

<div class="container py-5" style="margin-top: 40px;">

    <!-- Header row: Title and Actions-->
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4 gap-3">
        <h1 class="fw-bold display-6 text-uppercase">Weekly Schedule</h1>

        <div class="d-flex gap-2">
            <!-- Edit button-->
            <button id="add-btn" class="btn btn-pill btn-primary-uf">
                Edit
            </button>

            <!-- Clear Table button-->
            <button id="clear-btn" class="btn btn-pill btn-outline-uf">
                Clear
            </button>
        </div>
    </div>

    <!-- Week grid -->
    <div class="row g-3" id="week">
        {% set days = ["Monday", "Tuesday", "Wednsday", "Thursday", "Friday", "Saturday", "Sunday"] %}
        {% for d in days %}
        <div class="col-12 col-md-6 col-lg-3 col-xl">
            <div class="card h-100 shadow-sm">
                <!-- "Days" headers -->
                <div class="card-header fw-bold text-center text-uppercase">
                    {{d}}
                </div>

                <ul class="list-group list-group-flush day-list" data-day=""{{ loop.index0 }}></ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Mini form for editing/adding events (hidden at first place)-->
    <div id="form-wrap" class="card shadow p-3 mt-4 d-none" style="max-width: 700px;">
        <h2 class="h5 fw-bold mb-3">Add task</h2>

        <div class="row g-3">

            <div class="col-12 col-md-3">

                <!-- Select day -->
                <label class="form-label">Day</label>
                <select id="f-day" class="form-select">
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednsday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>    
                    <option value="6">Sunday</option>
                </select>
            </div>

            <!-- Hours -->
            <div class="col-12 col-md-3">
                <label class="form-label">Start</label>
                <input type="time" id="f-start" class="form-control" value="14:00" required>
            </div>

            <div class="col-12 col-md-3">
                <label class="form-label">End</label>
                <input type="time" id="f-end" class="form-control" value="15:20" required>
            </div>

            <!-- Title -->
            <div class="col-12 col-md-3">
                <label class="form-label">Title</label>
                <input type="text" id="f-title" class="form-control" placeholder="e.g. Algorithms Lecture" required>
            </div>

            <!-- Save Buttons -->
            <div class="col-12 d-flex gap-2">
                <button id="save-item" class="btn btn-pill btn-primary-uf">Save</button>
                <button id="cancel-item" class="btn btn-pill btn-outline-uf">Cancel</button>
            </div>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/schedule.js') }}" defer></script>

{% endblock %}
