{% extends "base.html" %}

{% block title %}Sign Up ~ UniFlow {% endblock %}

{% block content %}

<section class="container py-5 my-4">

    <!-- Page title -->
    <h1 class="text-center mb-4 logo form-title" style="margin-top: -60px;">
        Sign Up
    </h1>

    <!-- Form card -->
    <div class="row justify-content-center form-wrap">

        <div class="col-12 col-md-8 col-lg-6 uf-card">

            <div class="card shadow-lg border-0 rounded-4 p-4">

                <!-- Sign Up Form -->
                <form action="{{ url_for('signup') }}" method="POST" novalidate>

                    <!-- Username -->
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="username">Username</label>
                        <input class="form-control form-control-lg" type="text" id="username" name="username" required>
                    </div>

                    <!-- Email -->
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="email">Email</label>
                        <input class="form-control form-control-lg" type="email" id="email" name="email" required>
                    </div>

                    <!-- Password -->
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="password">Password</label>
                        <input class="form-control form-control-lg" type="password" id="password" name="password" minlength="6" required>
                    </div>

                    <!-- Confirm Password -->
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="confirm">Confirm Password</label>
                        <input class="form-control form-control-lg" type="password" id="password" name="confirm" minlength="6" required>
                    </div>

                    <!-- Submit Button -->
                    <div class="d-grid submit-cta">
                        <button class="btn btn-lg rounded-pill btn-pill btn-primary-uf" type="submit">
                            Create Account
                        </button>
                    </div>

                    <!-- Link to LogIn-->
                    <p class="text-center mt-3 mb-0">
                        Already have an account?
                        <a class="form-label" href="{{ url_for('login') }}">Log In</a>
                    </p>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}